/*SCROLL*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
}

::-webkit-scrollbar-thumb {
  background: white;
}

.no-overflow {
  overflow-y: hidden;
}

/*PRELOADER*/
#preloader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: "SF UI Display Medium";
  font-size: 4rem;
}

#prel-logo {
  height: 50px;
}

.st0 {
  /* stroke-dashoffset: 100!important*/
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #f6f6f6;
}

/*NAVBAR*/
.custom-navbar {
  background: white !important;
  height: 70px;
}

.navbar-social {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.navbar-social a {
  margin-left: 0.7rem;
  font-size: 1.3rem;
}
.navbar-social a i, .navbar-social a i:hover {
  transition: 0.1s;
}
.navbar-social a i.fa-vk {
  color: #1a4b78;
}
.navbar-social a i.fa-vk:hover {
  color: #4376a6;
}
.navbar-social a i.fa-instagram-square {
  background: linear-gradient(180deg, #515bd4 0%, #dd2a7b 35%, #feda77 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #515bd4;
}
.navbar-social a i.fa-instagram-square:hover {
  background: linear-gradient(180deg, #303bc2 0%, #b71d63 35%, #fecc44 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #303bc2;
}
.navbar-social a i.fa-github {
  color: #800080;
}
.navbar-social a:hover {
  color: #1a001a;
}

#navbarSupportedContent {
  background: #fefefe;
}

section {
  margin-top: 80px;
}

.block {
  font-family: "Roboto";
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1246px) {
  .block {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: space-around;
  }
}
@media screen and (min-width: 1715px) {
  .block {
    justify-content: center;
  }
  .block .left-component {
    margin-right: 5%;
  }
}
.block .right-component {
  width: 700px;
}
@media screen and (max-width: 768px) {
  .block .right-component {
    width: 90%;
  }
}
.block .left-component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .block .left-component {
    margin-left: 0;
  }
}
.block .left-component h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.block .left-component p {
  font-size: 1.1rem;
}
.block .left-component .social-icons {
  margin-top: 20px;
}
.block .left-component .social-icons a {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.block .left-component .social-icons a i, .block .left-component .social-icons a i:hover {
  transition: 0.1s;
}
.block .left-component .social-icons a i.fa-vk {
  color: #1a4b78;
}
.block .left-component .social-icons a i.fa-vk:hover {
  color: #4376a6;
}
.block .left-component .social-icons a i.fa-instagram-square {
  background: linear-gradient(180deg, #515bd4 0%, #dd2a7b 35%, #feda77 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #515bd4;
}
.block .left-component .social-icons a i.fa-instagram-square:hover {
  background: linear-gradient(180deg, #303bc2 0%, #b71d63 35%, #fecc44 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #303bc2;
}
.block .left-component .social-icons a i.fa-github {
  color: #800080;
}
.block .left-component .social-icons a:hover {
  color: #1a001a;
}

.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fefefe;
  color: #101010;
}
.introduce.dark {
  background: #333;
  color: #eee;
}/*# sourceMappingURL=styles.css.map */