/*SCROLL*/
@import '_mixins.sass'
::-webkit-scrollbar 
    width: 5px


::-webkit-scrollbar-track 
    box-shadow: inset 0 0 5px gray


::-webkit-scrollbar-thumb 
    background: white


.no-overflow 
    overflow-y: hidden

$light-back: #fefefe
$dark-back: #333
$light-text: #101010
$dark-text: #eee

/*PRELOADER*/
#preloader 
    height: 100%
    width: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center
    background: white
    font-family: "SF UI Display Medium"
    font-size: 4rem


#prel-logo 
    height: 50px


.st0 
    /* stroke-dashoffset: 100!important*/


body,
html 
    height: 100%
    width: 100%


body 
    margin: 0
    background: darken(#fff, 3.5%)
/*NAVBAR*/
.custom-navbar 
    background: white!important
    height: 70px



.navbar-social
    display: flex
    flex-direction: row
    margin-right: 50px
    a
        margin-left: .7rem
        font-size: 1.3rem
        i, i:hover
            transition: .1s
        @include vk-color
        @include instagram-color
        @include github-color

#navbarSupportedContent
    background: $light-back



section 
    margin-top: 80px
.block
    $screen-shrink-one: 768px
    $screen-shrink-two: 1246px
    $screen-shrink-three: 1715px
    font-family: 'Roboto'
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap

    margin-top: 30px
    justify-content: space-between
    align-items: center

    @media screen and (max-width: $screen-shrink-two)
        flex-direction: row-reverse
        justify-content: center
        align-items: space-around
    @media screen and (min-width: $screen-shrink-three)
        justify-content: center
        .left-component
            margin-right: 5%
    .right-component 
        width: 700px
        @media screen and (max-width: $screen-shrink-one)
            width: 90%         
    
            
    .left-component
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        padding: 30px 30px 30px 30px
        margin-left: 10%
        @media screen and (max-width: $screen-shrink-one)
            margin-left: 0

        h1
            margin-bottom: 20px
            font-size: 2.5rem
        p
            font-size: 1.1rem 
        .social-icons
            margin-top: 20px
            a
                margin-left: .5rem
                font-size: 1.5rem
                i, i:hover
                    transition: .1s 
                @include vk-color
                @include instagram-color
                @include github-color

.introduce
    @include centered-flex
    font-family: 'Roboto'
    font-size: 3rem
    font-weight: 600
    padding-top: 30px
    padding-bottom: 30px
    background: $light-back
    color: $light-text
    &.dark
        background: $dark-back
        color: $dark-text
                    
            

