/*SCROLL*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
}

::-webkit-scrollbar-thumb {
    background: white;
}

.no-overflow {
    overflow-y: hidden;
}


/*PRELOADER*/

#preloader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: "SF UI Display Medium";
    font-size: 4rem;
}

#prel-logo {
    height: 50px;
}

.st0 {
    /* stroke-dashoffset: 100!important;*/
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/gori-2560x1440-nebo-4k-5k-zakat-android-oboi-11473\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    filter: blur(1);
}

.centered {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-family: 'SF UI Display Regular';
}

.main-header {
    --webkit-backdrop-filter: blur(100);
    font-weight: 500;
}

.subscript {
    font-weight: 200;
    font-family: 'SF UI Display Light';
    font-size: 1.2rem0;
}

.another {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.another a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.another a:hover {
    color: purple;
    transition: 0.5s
}


/*NAVBAR*/

nav.navbar-nav {
    font-family: "SF UI Display Light";
    font-weight: 300;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: "SF UI Display Regular";
}

.navbar-start {
    margin-left: 20px;
}

.navbar-center {
    height: 100%;
    display: flex;
}

.navbar-end {
    margin-right: 30px;
}

.navbar-element {
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-element a {
    text-decoration: none;
    color: black;
}

.navbar-element a:hover {
    color: #444444;
}

.navbar-element:last-child {
    margin-right: 0;
}

.navbar-link {
    color: blue;
    font-size: 1.05rem!important;
}

.navbar-link:hover {
    color: darkblue;
}

.navbar-end {
    display: flex;
}

.navbar-link:not(:last-child) {
    margin-right: 15px;
}